// ABOUT PAGE ***************************************************************************
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: var(--clr-dark);
  background-color: var(--clr-lightGrey);
  padding: 100px 18px 60px 18px;
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: Didot, sans-serif;
  }

  span {
    color: var(--clr-indigo);
  }

  .aboutImage {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}

