.tags-container {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
  color: white;
  margin-left: -1px;

  .tag {
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 5px;
  }
}
