.mainContainer {
  section:nth-of-type(even) {
    background-color: var(--secondaryColor);
    border-right: 1px solid var(--borderColor);
    border-left: 1px solid var(--borderColor);
    overflow: auto;
    padding: 0 16px;
  }

  section:nth-child(3) {
    border: 1px solid var(--borderColor);
  }

  h3 {
    text-align: center;
  }

  h3::after {
    display: block;
    content: "";
    height: 2px;
    width: 20%;
    background: var(--clr-indigo);
    margin: 8px auto 0 auto;
  }
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  width: 100%;

  .main-container {
    max-width: 1200px;
    margin: 0 auto;

    .greeting-wrapper {
      display: grid;
      text-align: center;
      align-content: center;
      min-height: 10em;

    }
  }
}

.intro-wrapper {
  width: 100%;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;


  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
  position: relative;
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);

  .dots-wrapper {
    display: flex;
    padding: 10px;

    .browser-dot {
      background-color: black;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      margin: 5px;

      -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    }

    .dot-1 {
      background-color: #FC6058;
    }

    .dot-2 {
      background-color: #FEC02F;
    }

    .dot-3 {
      background-color: #2ACA3E;
    }
  }

  .navbarMenuContainer {
    display: flex;
    //width: 100%;
    justify-content: flex-end;
    align-items: center;

    .navbarMenuList {
      list-style: none;
      padding: 10px 10px 0 10px;
      margin: 0;

      .navbarMenuListItem {
        display: inline;
        margin: 0 12px;

        a {
          float: right;
          text-decoration: none;
          position: relative;
          padding: 7px 50px;
          margin: 0 0 0 -8px;
          color: var(--clr-dark);
          background: rgb(229, 229, 234);
          -webkit-border-top-right-radius: 20px 40px;
          -webkit-border-top-left-radius: 20px 40px;
          -moz-border-radius-topleft: 20px 40px;
          -moz-border-radius-topright: 20px 40px;
          -webkit-box-shadow: inset 1px 1px 0 white;
          -moz-box-shadow: inset 1px 1px 0 white;
          border: 1px solid #a0a0a0;

          &:hover {
            color: var(--clr-indigo);
          }
        }
      }
    }
  }
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}


#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}


.theme-dot:hover {
  border-width: 5px;
}


#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7E4C74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}


.preview-shadow {
  background-color: var(--previewShadow);
  max-width: 300px;
  //height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.preview {
  width: 300px;
  border: 1.5px solid var(--clr-indigo);
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid var(--clr-indigo);
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px
}

#corner-tr {
  top: -5px;
  right: -5px
}


#corner-br {
  bottom: -5px;
  right: -5px
}


#corner-bl {
  bottom: -5px;
  left: -5px
}


.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 20px;
  gap: 100px;
}


#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: grid;
  align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
}


.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}


#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto 50px auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}


.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}


#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 100%;
    padding: 0 16px;
  }
}

@media screen and (max-width: 900px) {

  .main-container {
    //padding: 0;
  }
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
  }

  .navbarMenuContainer {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 300ms ease left;
    flex-direction: column-reverse;
    padding: 0;
    z-index: 100;
    background-color: var(--clr-lightGrey);
    margin: 0 auto !important;

    .navbarMenuList, .navbarMenuListItem {
      width: 100%;
    }

    .navbarMenuList {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 !important;
      width: 100% !important;
    }

    &.active {
      left: 0;
    }
  }

  .left-column {
    padding-bottom: 0;
  }
  .right-column {
    justify-content: center;
  }
  a {
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 0 !important;;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    list-style-type: none;
    padding: 0;
    height: 60px;
    background: transparent !important;
    border: none !important;
    float: none !important;
  }
}

@media screen and (max-width: 400px) {
  .preview-shadow {
    max-width: 280px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .preview {
    width: 280px;
  }

}
