// HIRE PAGE ***************************************************************************
h1::after {
  display: block;
  content: "";
  height: 4px;
  width: 50%;
  margin: 10px auto 0 auto;
  background: var(--clr-indigo);
}

.hireContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-dark);
  background-color: var(--clr-lightGrey);
  padding: 0 18px;

  h1 {
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }
}

// ABOUT PAGE ***************************************************************************
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: var(--clr-dark);
  background-color: var(--clr-lightGrey);
  padding: 100px 18px 60px 18px;
  max-width: 1000px;
  margin: 0 auto;

  .aboutImage {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

